<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="../build/styles.css">
</head>
<body>
    <div class="container">
        <h1>Đăng nhập</h1>
         <form >         
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>
            <button type="submit"><a href="/">Đăng nhập</a></button>
        </form>
        <a href="/register">Đăng ký</a>
        <div class="kc"></div>
        <a href="forgot_password.html">Quên mật khẩu</a>
    </div>
</body>
</html>

