<!DOCTYPE html>
<html>
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" type="text/css" href="../build/styles.css">
</head>
<body>
    <div class="container">
        <h1>Đăng ký</h1>
        <form>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>
            <input type="text" name="name" placeholder="Tên người dùng" required>
            <button type="submit"><a href="/login">Đăng ký</a></button>
        </form>
        <a href="/login">Đăng nhập</a>
    </div>
</body>
</html>
